---
// Components
import CommonHead from "../components/CommonHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import TemperatureBanner from "../components/TemperatureBanner.astro";

// Styles
import "@fontsource-variable/source-serif-4";
import "../styles/index.css";

// Props
const { frontmatter } = Astro.props;
---

<html lang="en">
	<CommonHead title={`Cutting the Cloud - ${frontmatter.title}`} />
	<body class="bg-neutral-100 mouse-cursor-gradient-tracking">
		<Header />
		<main class="main" transition:name="content">
			<Hero />

			<article
				class="content max-w-none p-2 md:p-3 2xl:p-4 mt-10 md.mt-12 2xl:mt-16"
			>
				<slot />
			</article>
		</main>

		<Footer />
		<TemperatureBanner />
	</body>
</html>
