---
// Components
import CommonHead from "../components/CommonHead.astro";
import Header from "../components/Header.astro";

// Styles
import "@fontsource-variable/source-serif-4";
import "../styles/index.css";

// Props
const { frontmatter } = Astro.props;
---

<html lang="en">
	<CommonHead title={`What's Worth? - ${frontmatter.title}`} />
	<body class="bg-gray-100">
		<Header />

		<main class="main max-w-none p-2 md:p-3 2xl:p-4" transition:name="content">
			<slot />
		</main>
	</body>
</html>
