.main {
	@apply prose prose-book
    prose-headings:max-w-3xl 
    prose-headings:mx-auto 
    
    /* H1 */
    prose-h1:text-4xl/tight
    lg:prose-h1:text-6xl/tight
    prose-h1:indent-0
    prose-h1:mb-20

    /* H2 */
    prose-h2:text-3xl/snug
    lg:prose-h2:text-4xl/snug

    /* H3 */
    prose-h3:text-2xl/snug
    lg:prose-h3:text-3xl/snug

    /* H4 */
    prose-h4:text-xl/snug
    lg:prose-h4:text-2xl/snug

    /* H5 */
    prose-h5:text-xl/snug

    /* H6 */
    prose-h6:text-lg/snug

    prose-th:indent-0
    
    prose-p:max-w-3xl 
    prose-p:mx-auto
    prose-p:font-serif 
    prose-p:text-xl/relaxed
    
    prose-blockquote:max-w-3xl 
    prose-blockquote:mx-auto
    
    prose-table:max-w-3xl 
    prose-table:mx-auto
    prose-table:font-mono
    prose-table:text-xs
    sm:prose-table:text-sm

    prose-ol:max-w-3xl
    prose-ol:mx-auto
    prose-ol:font-serif
    prose-ol:text-xl

    prose-ul:max-w-3xl
    prose-ul:mx-auto
    prose-ul:font-serif
    prose-ul:text-xl

    prose-pre:max-w-3xl
    prose-pre:mx-auto
    prose-pre:text-lg;
}
