@font-face {
	font-family: "Goozette";
	src: url("/fonts/goozette.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Commit Mono";
	src: url("/fonts/commit-mono_variable.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-display;
}
