---
// Get day this project was last updated
console.log(Astro.props);
---

<footer
	class="mt-24 p-4 w-full grid grid-cols-6 grid-rows-auto md:grid-rows-1 text-xs text-neutral-400 font-serif"
>
	<div class="col-start-1 col-span-6 sm:col-span-1 mb-2 sm:mb-0">
		<p>
			Cutting the Cloud <br />
			 A research project by <a
				href="https://www.francesco-scheffczyk.de/"
				class="underline">Francesco Scheffczyk</a
			>
		</p>
	</div>

	<div class="col-start-1 sm:col-start-2 col-span-6 sm:col-span-1 mb-2 sm:mb-0">
		<p>
			<i>Last updated:</i><br />
		</p>
	</div>

	<div
		class="col-span-6 sm:col-span-2 lg:col-span-1 sm:col-end-5 lg:col-end-6 mb-2 sm:mb-0"
	>
		<p>
			<i>Images by:</i>
		</p>
	</div>

	<div class="col-span-6 sm:col-span-2 lg:col-span-1 col-end-7">
		<p>
			<i>Fonts in use:</i>
			 Goozette by <a href="https://madeleinegraphique.com/" class="underline"
				>Madeleine Barbaroux</a
			> and <a
				href="https://fontsinuse.com/type_designers/9061/alexandra-lambert"
				class="underline">Alexandra Lambert</a
			>, Source Serif 4 by <a
				href="https://fonts.adobe.com/designers/frank-griesshammer"
				class="underline">Frank Grießhammer</a
			>, Commit Mono by <a href="
				https:
				commitmono.com
				" class="underline"
				>Eigil Nikolajsen</a
			>
		</p>
	</div>
</footer>
