---

---

<header class="flex p-2 md:p-3 2xl:p-4 sticky top-0 text-orange-700 z-50">
	<p class="flex-grow font-display text-lg min-w-fit">
		<span class="group">
			W<span class="hidden sm:group-hover:inline-block">hat's</span> W<span
				class="hidden sm:group-hover:inline-block">orth?</span
			>
		</span>
	</p>

	<nav>
		<ul class="font-mono group">
			<li class="flex items-center pl-12 sm:pl-0">
				<div
					class="w-2 h-2 -ml-4 mr-2 rounded-full bg-orange-700 animate-pulse invisible"
				>
				</div>
				<a href="/" class="opacity-0 group-hover:opacity-100 transition-all">
					<span>World behind Temperature Sensor</span>
				</a>
			</li>
			<li class="flex items-center pl-12 sm:pl-0">
				<div
					class="w-2 h-2 -ml-4 mr-2 rounded-full bg-orange-700 animate-pulse invisible"
				>
				</div>
				<a
					href="/hacking-temperature-sensors/"
					class="opacity-0 group-hover:opacity-100 transition-all"
					>Hacking of Temperature Sensors</a
				>
			</li>
		</ul>
	</nav>
</header>

<script>
	document.addEventListener("astro:page-load", () => {
		const links = document.querySelectorAll("nav a");
		const dots = document.querySelectorAll("nav .animate-pulse");
		const current = window.location.pathname;

		links.forEach((link) => {
			if (link.getAttribute("href") === current) {
				link.classList.remove("opacity-0");
			} else {
				link.classList.add("opacity-0");
			}
		});

		dots.forEach((dot) => {
			if (dot.nextSibling.getAttribute("href") === current) {
				dot.classList.remove("invisible");
			} else {
				dot.classList.add("invisible");
			}
		});
	});
</script>
