---

---

<header
	class="flex fixed w-full p-2 md:p-3 2xl:p-4 top-0 text-orange-700 z-50 transition-all"
>
	<p class="flex-grow font-display text-lg min-w-fit">
		<span class="group">
			C<span class="hidden sm:group-hover:inline-block">utting the</span> C<span
				class="hidden sm:group-hover:inline-block">loud</span
			>
		</span>
	</p>

	<nav>
		<ul class="font-mono group">
			<li class="flex items-center pl-12 sm:pl-0">
				<div
					class="w-2 h-2 -ml-4 mr-2 rounded-full bg-orange-700 animate-pulse invisible"
				>
				</div>
				<a href="/" class="opacity-0 group-hover:opacity-100 transition-all">
					<span>The ☁️ around temperature sensors</span>
				</a>
			</li>
			<li class="flex items-center pl-12 sm:pl-0">
				<div
					class="w-2 h-2 -ml-4 mr-2 rounded-full bg-orange-700 animate-pulse invisible"
				>
				</div>
				<a
					href="/cutting-the-cloud-away/"
					class="opacity-0 group-hover:opacity-100 transition-all"
					>Cutting the ☁️ away</a
				>
			</li>
		</ul>
	</nav>
</header>

<script>
	// Hide links that are not on the current page
	document.addEventListener("astro:page-load", () => {
		const links = document.querySelectorAll("nav a");
		const dots = document.querySelectorAll("nav .animate-pulse");
		const current = window.location.pathname;

		links.forEach((link) => {
			if (link.getAttribute("href") === current) {
				link.classList.remove("opacity-0");
			} else {
				link.classList.add("opacity-0");
			}
		});

		dots.forEach((dot) => {
			if (dot.nextSibling.getAttribute("href") === current) {
				dot.classList.remove("invisible");
			} else {
				dot.classList.add("invisible");
			}
		});
	});

	// Move header out of viewport when scrolling down
	function hideHeaderOnScroll() {
		const header = document.querySelector("header");

		let lastScroll = window.scrollY;

		window.addEventListener("scroll", () => {
			const currentScroll = window.scrollY;

			// If current scroll is less than 1200, reset header style and update lastScroll
			if (currentScroll <= 1200) {
				header.style.transform = "translateY(0)";
				lastScroll = currentScroll;
				return;
			}

			// If scrolled down
			if (currentScroll > lastScroll) {
				header.style.transform = "translateY(-100%)";
			}
			// If scrolled up
			else if (currentScroll < lastScroll) {
				header.style.transform = "translateY(0)";
			}

			// Update lastScroll for the next event
			lastScroll = currentScroll;
		});
	}

	document.addEventListener("astro:page-load", () => {
		hideHeaderOnScroll();
	});
</script>
