---
import { Image } from "astro:assets";
import heroImage from "../assets/images/whats-worth_hero.png";

import Header from "../components/Header.astro";
---

<script></script>

<div class="hero">
	<Image src={heroImage} alt="Hero image" />;
</div>

<style></style>
