---
import { Image } from "astro:assets";
import heroImage from "../assets/images/whats-worth_hero.png";
---

<script></script>

<section class="w-full h-screen bg-[url(/whats-worth_hero.png)]"></section>

<style></style>
